<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<title>Buscar Vehiculo Por Placa</title>
</head>


<style>
	body {
		margin: 0;
		padding: 0;
		background-image: url('https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png');
		background-repeat: no-repeat;
		background-size: cover;
		/* Ajusta el tamaño de la imagen para cubrir todo el espacio */
		background-position: center center;
		/* Centra la imagen en el cuerpo */
		color: #FFFFFF;
		padding: 25px;
		height: 100vh;
	}
</style>

<body class="p-3 mb-2 bg-dark text-white">

	<h2>Búsqueda de vehiculo</h2>

	<form th:action="@{/clientes/busquedaMarcayModelo}" method="get">
		<label for="cedula">Ingrese datos:</label>
		<input type="text" id="vehiculo.marca" name="marca" placeholder="Ingrese la marca">
		<input type="text" id="vehiculo.modelo" name="modelo" placeholder="Ingrese el modelo">
		<button type="submit">Buscar</button>
	</form>

	<table class="table table-dark table-striped-columns" style="margin: 0 auto;">
		<thead>
			<tr>
				<th>Placa</th>
				<th>Modelo</th>
				<th>Marca</th>
				<th>Año de Fabricacion</th>
				<th>Pais de Fabricacion</th>
				<th>Estado</th>
				<th>Cilindraje</th>
				<th>Evaluo</th>
				<th>Valor por Dia</th>


				<!-- Agrega más columnas según los datos que deseas mostrar -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="vehiculo : ${vehiculos}">
				<td th:text="${vehiculo.placa}"></td>
				<td th:text="${vehiculo.modelo}"></td>
				<td th:text="${vehiculo.marca}"></td>
				<td th:text="${vehiculo.anioF}"></td>
				<td th:text="${vehiculo.paisF}"></td>
				<td th:text="${vehiculo.estado}"></td>
				<td th:text="${vehiculo.cilindraje}"></td>
				<td th:text="${vehiculo.evaluo}"></td>
				<td th:text="${vehiculo.valorPorDia}"></td>

				<!-- Agrega más celdas según los datos que deseas mostrar -->
			</tr>
		</tbody>
	</table>

	<form th:action="@{/clientes/opciones}">
		<div style="text-align:center;">
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<input class="btn btn-outline-primary" type="submit" value="REGRESAR">
		</div>


	</form>

</body>

</html>